@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);
  --small-font: "Alata";
  --big-font: "Josefin sans";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

header {
  /* max-width: 1440px; */
  margin: 0 auto;
  background-image: url("./images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  margin-bottom: 150px;
}

header .container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

header .container nav {
  padding: 5em 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav ul {
  font-family: var(--small-font);
  list-style: none;
  display: flex;
  gap: 2em;
  color: var(--white);
}

header .container .statement {
  border: 1px solid var(--white);
  padding: 25px;
  max-width: 620px;
  letter-spacing: 3px;
  color: var(--white);
  font-family: var(--big-font);
  text-transform: uppercase;
  font-size: 4em;
}

.main-section {
  margin-bottom: 150px;
}

.main-section .container {
  position: relative;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
}

.main-section .container .img img {
  max-height: 100%;
  object-fit: contain;
}

.main-section .container .description {
  padding: 80px 0 0 65px;
  background-color: var(--white);
  position: absolute;
  top: 196px;
  left: 600px;
}

.main-section .container .description h1 {
  font-family: var(--big-font);
  text-transform: uppercase;
  font-size: 3em;
  color: var(--black);
  margin-bottom: 20px;
}

.main-section .container .description p {
  font-family: var(--small-font);
  line-height: 24px;
  color: var(--dark-grey);
}

.creations {
  margin-bottom: 150px;
}

.creations .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  text-transform: uppercase;
}

.creations .container h1 {
  grid-column: 1 / 4;
  font-family: var(--big-font);
  font-size: 3em;
  margin-bottom: 30px;
  align-self: center;
}

.creations .container button {
  font-family: var(--big-font);
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  justify-self: center;
  margin-bottom: 30px;
  padding: 8px 25px;
  border: 1px solid var(--black);
  background: none;
  cursor: pointer;
}

.creations .container .card {
  position: relative;
}

.creations .container .card div {
  position: absolute;
  top: 0;
  height: 450px;
  width: 100%;
  background: rgb(0, 0, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.creations .container .card p {
  margin-left: 50px;
  font-family: var(--big-font);
  font-size: 2em;
  color: var(--white);
  position: absolute;
  bottom: 40px;
}
